*
{
  font-family: 'Fjalla One', sans-serif;
}
#login > form > div > div > div > div > div.panel.panel-default{
  border-bottom: 5px solid #0cb288;
}
div.jumbotron{
  border-bottom: 5px solid #0cb288;
}
.btn-primary{
  background-color: #466184;
  text-transform: uppercase;
}
.btn-success {
  background-color: #0cb288;
  text-transform: uppercase;
}
#logoutBg{
  height: 100vh;
  width: 100vw;
  background-color: #2E4057;
}
#floatRight{
  background: none;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.3em;
}
nav.nav
{
  background-color: #2E4057;
  border-bottom: 5px solid #0cb288;
  padding: 0;
}

#logo{
  background-color: #2E4057;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  border-radius: 10%;
  border: none;
}

body > nav > a:nth-child(1):hover{
  background: none;
}
body > nav > a:nth-child(1):active{
  background: none;
}
#uploadBackground > form > div > div > div > div > div.panel.panel-default {
  padding: 10px;
}
#uploadBackground div.panel.panel-default > div.panel-body{
  padding:0;
}
#comment{
  margin-bottom: 10px;
}
#login {
	background: url('../images/loginBanner.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0; padding: 0;
}

#uploadBackground {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0; padding: 0;
}

.nav {
  background-color: black;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav a {
  margin-left: 5px;
  margin-right: 5px;
}
.nav #floatRight {
  float: right;
}

#selectBox {
  width: 30%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}

.banner {
  width: 100%;
  display: block;
  margin: auto;
}

.bannerContainer {
 position: relative;
 width: 100%; /* for IE 6 */
 height: 50%;
 border-bottom: 5px solid #0cb288;
}

.bannerText {
 position: absolute;
 top: 200px;
 left: 0;
 width: 100%;
 color: white;
 text-align: center;
}

  .bannerText h1 {
    font-size: 32pt;
  }

  .bannerText h2 {
    font-size: 26pt;
  }

  .message
  {
    font-size: 16pt;
    width: 70%;
    margin: auto;
  }

  footer p
  {
    padding-top: 5px;
    text-align: center;
  }
  footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
